<h1>Docketing System</h1>



<%= link_to 'Patents Index', patents_path %>
<%= link_to 'Create Patent', new_patent_path %>
<br>
<br>
<%= link_to 'Trademarks Index', trademarks_path %>
<%= link_to 'Create Trademark', new_trademark_path %>
<br>
<br>
<%= link_to 'Copyrights Index', copyrights_path %>
<%= link_to 'Create Copyright', new_copyright_path %>

