<!DOCTYPE html>
<html>
<head>
  <title>GPDocketingSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to(image_tag("/Untitled-1.png", :size => "122x87", :border => 0), welcome_index_path) %>

<%= yield %>
| <%= link_to 'Home', welcome_index_path %>
</body>
</html>
